@model IEnumerable<CourseApp.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCategory)
            </td>
            <td>
                    <a asp-action="EditCourse" asp-route-id="@item.CourseID">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |*@
                    <a asp-action="DelCourse" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
